.ncsimg {
    max-height: 460px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;

}

.article-body {
    text-align: justify;
}

.article-body img {
    border-radius: 6px;
    padding: 3px;
}

.table.table-hover th {
    vertical-align: middle;
}

.offsetTopMy {
    padding-top: 100px;
}

.btnMy {
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    padding: 1px 3px;
    line-height: 1;
    font-weight: 500;
    border-width: 0;
    text-transform: uppercase;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.singup_navbar {
    font-weight: 700;
    color: #3c6084;
    font-size: x-large;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

article img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ---   PAGINATION   --- */
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #46cad7;
    border-color: #46cad7;
    cursor: default;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #46cad7;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #46cad7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.top-drop{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.thumbnail .btn {
    width: 89px;
    padding: 18px 14px;
}

.addbuttonmain {
    padding-bottom: 10px;
}