@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,700italic");
@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic");
/**
 * Prodo v1.0
 * Onepage HTML template
 * http://axminenko.com
 *
 * Copyright 2014 Alexander Axminenko
 **/
@charset "UTF-8";
/*** Variables ***/
/*** Import Fonts ***/
/*** Mixins ***/
/*** General and Typography ***/
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 2em;
  color: #696f6f;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}
header {
  color: #282828;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
  color: #282828;
}
h1.colored,
.h1.colored,
h2.colored,
.h2.colored,
h3.colored,
.h3.colored,
h4.colored,
.h4.colored,
h5.colored,
.h5.colored,
h6.colored,
.h6.colored {
  color: #46cad7;
}
i.fa {
  color: #282828;
}
hr {
  margin: 0;
  border-color: #f1f1f1;
}
a {
  color: #46cad7;
}
a:hover,
a:focus {
  color: #46cad7;
  text-decoration: underline;
}
a.normal {
  color: #696f6f !important;
  text-decoration: none !important;
}
.text-semibold {
  font-weight: 500;
}
.text-light {
  font-weight: 300;
}
.text-white {
  color: #ffffff !important;
}
.img-rounded,
.rounded {
  border-radius: 3px;
}
.opacity8 {
  opacity: 0.8;
}
.opacity9 {
  opacity: 0.9;
}
input,
input:hover,
input:focus,
button,
button:hover,
button:focus,
textarea,
textarea:focus,
textarea:active {
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0;
}
::-webkit-input-placeholder {
  opacity: .8;
  color: #a6a6a6;
}
::-moz-placeholder {
  opacity: .8;
  color: #a6a6a6;
}
::-ms-input-placeholder {
  opacity: .8;
  color: #a6a6a6;
}
/*** Animations ***/
.csstransitions.csstransforms.no-touch .animation[class*="animation-"] {
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.csstransitions.csstransforms.no-touch .animation[class*="animation-"].animation-grow {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.csstransitions.csstransforms.no-touch .animation[class*="animation-"].animation-from-left {
  left: -30px;
}
.csstransitions.csstransforms.no-touch .animation[class*="animation-"].animation-from-right {
  left: 30px;
}
.csstransitions.csstransforms.no-touch .animation[class*="animation-"].animation-from-bottom {
  top: 30px;
}
.csstransitions.csstransforms.no-touch .animation[class*="animation-"].animation-from-top {
  top: -30px;
}
.csstransitions.csstransforms.no-touch .animation[class*="animation-"].active {
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/*** Offsets ***/
.offsetTop {
  /*padding-top: 100px;*/
  padding-top: 85px;
}
.offsetBottom {
  /*padding-bottom: 60px;*/
  padding-bottom: 30px;
}
.offsetTopX {
  padding-top: 120px;
}
.offsetBottomX {
  padding-bottom: 120px;
}
.offsetTopL {
  padding-top: 80px;
}
.offsetBottomL {
  padding-bottom: 80px;
}
.offsetTopS {
  padding-top: 20px;
}
.offsetBottomS {
  padding-bottom: 20px;
}
.offsetTopClear {
  padding-top: 0;
  margin-top: 0;
}
.offsetBottomClear {
  padding-bottom: 0;
  margin-bottom: 0;
}
/*** Loader ***/
.page-loader {
  background-color: #ffffff;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  /*** Animations ***/
}
.page-loader .content {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 50%;
  line-height: 1;
  margin-top: -2px;
}
.page-loader .content .line {
  display: none;
  line-height: 0;
  position: relative;
  width: 100px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  border-radius: 3px;
}
.page-loader .content .line .progress {
  line-height: 0;
  height: 100%;
  position: relative;
  background-color: #46cad7;
  width: 30px;
  left: 35px;
  top: 0;
  border-radius: 3px;
  -webkit-animation: page-loader 1.5s infinite linear;
  animation: page-loader 1.5s infinite linear;
}
.page-loader .content .text {
  display: none;
  font-family: "Roboto", sans-serif;
  color: #282828;
  font-weight: 500;
}
@-webkit-keyframes page-loader {
  0% {
    left: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 70px;
    opacity: 0;
  }
}
@keyframes page-loader {
  0% {
    left: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 70px;
    opacity: 0;
  }
}
.csstransitions .page-loader .content .line {
  display: block;
}
.no-csstransitions .page-loader .content .text {
  display: block;
}
/*** Sections ***/
.section {
  background-color: #ffffff;
  /*** Headers ***/
  /*** Parallax ***/
  /*** Video Background ***/
}
.section.alt-background {
  background-color: #fafafa;
}
.section header h1:last-of-type,
.section header h2:last-of-type,
.section header h3:last-of-type,
.section header h4:last-of-type,
.section header h5:last-of-type,
.section header h6:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
}
.section header .icon i {
  cursor: default;
}
.section header .icon + h1,
.section header .icon + h2,
.section header .icon + h3 {
  margin-top: 10px;
}
.section header .icon i {
  /*font-size: 22px;*/
}
.section header .icon.close i {
  cursor: pointer;
  -webkit-transition: opacity 0.15s ease-in;
  -moz-transition: opacity 0.15s ease-in;
  -o-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
}
.section header .icon.close i:hover {
  opacity: 0.85;
}
.section header .icon.large i {
  font-size: 50px;
}
.section header .icon.largest i {
  font-size: 130px;
}
.section header .icon.colored i {
  color: #46cad7;
}
.section header .info {
  margin-top: 20px;
  color: #696f6f;
}
.section.parallax,
.section.video {
  color: #ffffff;
  z-index: 1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}
.section.parallax .parallax-container,
.section.video .parallax-container {
  position: relative;
}
.section.parallax .parallax-overlay,
.section.video .parallax-overlay,
.section.parallax .video-overlay,
.section.video .video-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.section.parallax .parallax-overlay.colored,
.section.video .parallax-overlay.colored,
.section.parallax .video-overlay.colored,
.section.video .video-overlay.colored {
  background-color: rgba(70, 202, 215, 0.85);
}
.section.parallax header,
.section.video header,
.section.parallax i.fa,
.section.video i.fa,
.section.parallax h1,
.section.video h1,
.section.parallax .h1,
.section.video .h1,
.section.parallax h2,
.section.video h2,
.section.parallax .h2,
.section.video .h2,
.section.parallax h3,
.section.video h3,
.section.parallax .h3,
.section.video .h3,
.section.parallax h4,
.section.video h4,
.section.parallax .h4,
.section.video .h4,
.section.parallax h5,
.section.video h5,
.section.parallax .h5,
.section.video .h5,
.section.parallax h6,
.section.video h6,
.section.parallax .h6,
.section.video .h6 {
  color: #ffffff;
}
.section.parallax a:hover,
.section.video a:hover,
.section.parallax a:focus,
.section.video a:focus {
  text-decoration: none;
}
.section.parallax i.fa,
.section.video i.fa {
  cursor: default;
}
.section.parallax a i.fa,
.section.video a i.fa {
  cursor: pointer;
}
.section.video {
  position: relative;
}
.section.video .video-responsive {
  top: -40px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .section.video .video-responsive {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section.video .video-responsive {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
}
.section.video .video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*** Navigation ***/
.navbar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 0;
  padding-top: 60px;
  position: absolute;
  z-index: 9999;
  width: 100%;
  -webkit-backface-visibility: hidden;
  /*** Dropdown Menu ***/
  /*** Styles ***/
  /*** Floating ***/

}
.navbar .navbar-nav {
  margin-left: 0;
  margin-right: 0;
  padding-top: 5px;
}
.navbar .navbar-nav > li a {
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.navbar .navbar-nav > li a:hover,
.navbar .navbar-nav > li a:focus {
  background: none;
  color: #46cad7 !important;
}
.navbar .navbar-nav > li.active > a {
  color: #46cad7 !important;
}
.navbar .navbar-nav > li > a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent !important;
  font-weight: 500;
}
.navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
  line-height: 1;
  position: relative;
}
.navbar .navbar-brand img {
  position: absolute;
}
.navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .navbar-collapse.collapse.in,
.navbar .navbar-collapse.collapsing {
  background: #FFF;
  margin-top: 15px;
  position: absolute;
  width: 100%;
  z-index: 100;
}
.navbar .navbar-collapse.collapse.in .navbar-nav > li a,
.navbar .navbar-collapse.collapsing .navbar-nav > li a {
  padding-top: 1%;
  padding-bottom: 1%;
  color: #282828;
}
.navbar .navbar-toggle {
  background: transparent;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar .navbar-toggle .icon-bar {
  height: 3px;
  border-radius: 1px;
  background-color: #ffffff;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.navbar .navbar-toggle:hover .icon-bar {
  background-color: #46cad7;
}
.navbar .social {
  display: none;
  float: right;
  line-height: 1;
  margin-left: 80px;
  cursor: default;
}
.navbar .social a {
  padding: 5px;
}
.navbar .social i {
  color: #ffffff;
  line-height: inherit;
  font-size: 16px;
  opacity: 1;
}
.navbar .navbar-collapse:not(.in):not(.collapsing) .navbar-nav > li.dropdown.open > a {
  color: #46cad7;
}
.navbar .navbar-nav > li > .dropdown-menu {
  top: 40px;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .navbar-nav > li > .dropdown-menu > li a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #282828;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-transform: none;
  background-color: transparent !important;
}
.navbar .navbar-nav > li > .dropdown-menu li.active a {
  color: #46cad7;
}
.navbar.floating .navbar-nav > li > .dropdown-menu {
  border-radius: 0 0 3px 3px;
  top: 42px;
  border: 1px solid #ddd;
  /*box-shadow: 0 0 25px 0 rgba(30, 60, 0, 0.5);*/
}
.navbar.three .navbar-nav > li > a:after,
.navbar.four .navbar-nav > li > a:after,
.navbar.six .navbar-nav > li > a:after {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 1px;
  background: #46cad7;
  content: "";
  opacity: 0;
  -webkit-transition: height .3s ease 0s, opacity .3s ease 0s, transform .3s ease 0s;
  -moz-transition: height .3s ease 0s, opacity .3s ease 0s, transform .3s ease 0s;
  -o-transition: height .3s ease 0s, opacity .3s ease 0s, transform .3s ease 0s;
  transition: height .3s ease 0s, opacity .3s ease 0s, transform .3s ease 0s;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.navbar.three .navbar-nav > li > a:hover:after,
.navbar.four .navbar-nav > li > a:hover:after,
.navbar.six .navbar-nav > li > a:hover:after,
.navbar.three .navbar-nav > li > a:focus:after,
.navbar.four .navbar-nav > li > a:focus:after,
.navbar.six .navbar-nav > li > a:focus:after,
.navbar.three .navbar-nav > li.dropdown.open > a:after,
.navbar.four .navbar-nav > li.dropdown.open > a:after,
.navbar.six .navbar-nav > li.dropdown.open > a:after {
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -o-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}
.navbar.seven .navbar-nav > li.active > a:after,
.navbar.eight .navbar-nav > li.active > a:after,
.navbar.nine .navbar-nav > li.active > a:after {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 23px auto 0;
  width: 80%;
  height: 2px;
  background: #46cad7;
  content: "";
}
.navbar.seven:not(.floating) .navbar-nav > li.active > a:after,
.navbar.eight:not(.floating) .navbar-nav > li.active > a:after,
.navbar.nine:not(.floating) .navbar-nav > li.active > a:after {
  margin-top: 15px;
}
.navbar.two .social,
.navbar.four .social,
.navbar.nine .social {
  display: block;
}
@media (min-width: 768px) {
  .navbar.five .navbar-nav,
  .navbar.six .navbar-nav,
  .navbar.seven .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none !important;
  }
}
.navbar.floating {
  display: block;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
    -webkit-transform: translateY(-90px);
    -moz-transform: translateY(-90px);
    -o-transform: translateY(-90px);
    -ms-transform: translateY(-90px);
  transform: translateY(-90px);
    -webkit-box-shadow: 0 0 15px 0 rgba(30, 60, 0, 0.5);
    -moz-box-shadow: 0 0 15px 0 rgba(30, 60, 0, 0.5);
  box-shadow: 0 0 15px 0 rgba(30, 60, 0, 0.5);
}
.navbar.floating.positive {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform .5s ease;
}
.navbar.floating.negative {
  -webkit-transform: translateY(-90px);
  -moz-transform: translateY(-90px);
  -o-transform: translateY(-90px);
  -ms-transform: translateY(-90px);
  transform: translateY(-90px);
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform .5s ease;
}
.navbar.floating .nav > li a {
  color: #282828;
}
.navbar.floating .navbar-toggle .icon-bar {
  background-color: #282828;
}
.navbar.floating .social i {
  color: #282828;
}
/*** Slider ***/
.slider {
  width: 100%;
  height: 700px;
  position: absolute;
  z-index: -1;
  background-color: black;
}
.slider.fullscreen {
  height: 100%;
}
.slider .image {
  position: absolute;
  width: inherit;
  height: inherit;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  background-color: #000;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
/*** Intro ***/
.intro {
  height: 100%;
  color: #ffffff;
  /*** Content ***/
  /*** Animate Effect on Load Slide ***/
  /*** Magic Mouse ***/
  /*** Animations ***/
}
.intro a,
.intro p,
.intro h1,
.intro .h1,
.intro h2,
.intro .h2,
.intro h3,
.intro .h3,
.intro h4,
.intro .h4,
.intro h5,
.intro .h5,
.intro h6,
.intro .h6 {
  color: #ffffff;
}
.intro .images-list {
  display: none;
}
.intro .content {
  color: #ffffff;
}
.intro .content i {
  color: inherit;
}
.intro .content header {
  color: #ffffff;
}
.intro .content header i {
  font-size: 18px;
  padding: 0 5px;
}
.intro .content header h2,
.intro .content header .h2,
.intro .content header h3,
.intro .content header .h3 {
  margin-top: 20px;
}
.intro .content .icon.close i {
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: opacity 0.15s ease-in;
  -moz-transition: opacity 0.15s ease-in;
  -o-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
}
.intro .content .icon.close i:hover {
  opacity: 0.85;
}
.intro .content .video-control {
  width: 70px;
  margin: 0 auto 30px;
  cursor: pointer;
}
.intro .content .video-control i {
  font-size: 18px;
  line-height: 64px;
  width: 70px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  -moz-backface-visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.intro .content .video-control i.fa-play {
  text-indent: 4px;
}
.intro .content .video-control:hover i {
  background-color: #ffffff;
  color: #282828;
  -webkit-transform: scale(1.12);
  -moz-transform: scale(1.12);
  -o-transform: scale(1.12);
  -ms-transform: scale(1.12);
  transform: scale(1.12);
}
.intro .content .video-preview {
  margin-top: 40px;
  padding: 4px;
  background-color: #ffffff;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
.intro .content .video-preview img {
  width: 210px;
}
.intro .content .video-preview .video-control {
  position: absolute;
  margin: -28px auto 0;
  left: 0;
  right: 0;
  top: 50%;
}
.intro .content .video-preview .video-control i {
  line-height: 50px;
  width: 56px;
  background-color: #46cad7;
  color: #ffffff;
}
.intro .content .video-container {
  margin-top: 10px;
  display: inline-block;
  width: 47.86324786324786%;
  min-width: 150px;
  padding: 4px;
  background-color: #ffffff;
  border-radius: 3px;
  line-height: 0;
}
.intro .btn.btn-link {
  color: #ffffff !important;
  opacity: .8;
}
.intro .btn.btn-link:hover {
  opacity: 1;
}
.intro .animate {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.intro .animate.complete {
  opacity: 1;
}
.intro .mouse {
  position: relative;
  width: 30px;
  height: 44px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  background: transparent;
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.intro .mouse .wheel {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  left: 0;
  right: 0;
  -webkit-animation: magic-mouse 1.7s infinite ease;
  animation: magic-mouse 1.7s infinite ease;
}
@keyframes magic-mouse {
  0% {
    margin-top: 6px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 18px;
    opacity: 0;
  }
}
@-webkit-keyframes magic-mouse {
  0% {
    margin-top: 6px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 18px;
    opacity: 0;
  }
}
/*** Arrows ***/
.arrows {
  font-size: 0;
  margin-top: 35px;
}
.arrows .arrow {
  line-height: 1;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #ffffff !important;
}
.arrows .arrow.left {
  margin-right: 12px;
}
.arrows .arrow i.fa {
  padding: 5px;
  color: inherit;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.arrows .arrow i.fa:hover {
  color: #46cad7 !important;
}
/*** Services ***/
.services [class*=col] {
  padding-left: 2.564102564102564%;
  padding-right: 2.564102564102564%;
  border-right: 1px solid #f1f1f1;
}
.services [class*=col] i.fa {
  font-size: 80px;
  margin-bottom: 5.405405405405406%;
  cursor: default;
  -webkit-transition: color 0.15s ease-in;
  -moz-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}
.services [class*=col] header {
  margin-bottom: 8.108108108108109%;
}
.services [class*=col]:hover i.fa {
  color: #46cad7;
}
.services [class*=col]:last-child {
  border-right-width: 0;
}
/*** Services (Alternative) **/
.services-alt {
  text-align: center;
}
.services-alt [class*=col] i.fa {
  cursor: default;
  font-size: 60px;
  -webkit-transition: color 0.15s ease-in;
  -moz-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}
.services-alt [class*=col]:hover i.fa {
  color: #46cad7;
}
.services-alt.no-hover [class*=col] i.fa {
  color: inherit !important;
}
/*** Buttons ***/
.btn {
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  padding: 18px 30px;
  line-height: 1;
  font-weight: 500;
  border-width: 0;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.btn i.fa {
  color: inherit;
  padding-right: 5px;
}
.btn.btn-default {
  background-color: #46cad7;
  color: #ffffff;
}
.btn.btn-default:hover,
.btn.btn-default:focus {
  background-color: #63d2dd;
}
.btn.btn-link {
  color: #46cad7;
  text-decoration: none !important;
}
.btn.btn-link:hover,
.btn.btn-link:focus {
  color: #63d2dd;
}
.btn.btn-inverse {
  background-color: transparent !important;
  color: #46cad7;
  border: 2px solid;
  padding: 16px 28px;
}
.btn.btn-inverse:hover,
.btn.btn-inverse:focus {
  border-color: #63d2dd;
  color: #63d2dd;
  background-color: transparent;
}
.btn.btn-rounded {
  border-radius: 30px;
}
.btn.btn-small {
  padding: 13px 20px 14px;
}
.btn.btn-small i.fa {
  font-size: 12px;
  padding-right: 3px;
}
.btn.btn-small.btn-inverse {
  padding: 11px 18px 12px;
}
.btn.btn-white {
  color: #ffffff !important;
}
.btn.btn-white.btn-inverse {
  border-color: rgba(255, 255, 255, 0.6);
}
.btn.btn-white.btn-inverse:hover {
  border-color: rgba(255, 255, 255, 0.8);
}
.btn[disabled] {
  opacity: 1;
}
/*** Inputs, Textareas ***/
input,
textarea {
  line-height: 1;
  padding: 14px 18px;
  color: #a6a6a6;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  background-color: #ffffff;
  -webkit-transition: border-color 0.15s ease-in;
  -moz-transition: border-color 0.15s ease-in;
  -o-transition: border-color 0.15s ease-in;
  transition: border-color 0.15s ease-in;
}
input:focus,
textarea:focus {
  border-color: #46cad7;
}
input[disabled],
textarea[disabled] {
  background-color: #ffffff;
  border-color: #f1f1f1;
  color: #a6a6a6;
}
textarea {
  line-height: 1.5;
}
input.notice,
textarea.notice {
  border-color: #46cad7 !important;
}
/*** Videos ***/
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}
iframe {
  border: 0;
}
/*** Portfolio Filters ***/
.portfolio-filters {
  cursor: default;
}
.portfolio-filters a {
  display: inline-block;
  text-decoration: none !important;
  color: #696f6f;
  border-radius: 3px;
  padding: 12px 15px;
  line-height: 1;
  margin-right: 8px;
  margin-top: 8px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.portfolio-filters a:last-child {
  margin-right: 0;
}
.portfolio-filters a:hover {
  color: #46cad7;
}
.portfolio-filters a.active {
  background-color: #46cad7 !important;
  color: #ffffff;
}
/*** Portfolio Projects ***/
#portfolio-details {
  display: none;
  border-bottom: 1px solid #f1f1f1;
}
.portfolio-item:hover .overlay,
.portfolio-item.active .overlay {
  background-color: rgba(0, 0, 0, 0.1);
}
.portfolio-item:hover .details,
.portfolio-item.active .details {
  opacity: 0.9;
}
.portfolio-item {
  float: left;
  position: relative;
  overflow: hidden;
}
.portfolio-item img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.portfolio-item .overlay {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.portfolio-item .details {
  z-index: 2;
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: #ffffff;
  opacity: 0;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 13px;
  font-weight: 500;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-backface-visibility: hidden;
}
.portfolio-item a {
  z-index: 3;
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
}
.portfolio-item .loading {
  z-index: 4;
  position: absolute;
  width: 0;
  height: 3px;
  top: 0;
  left: 0;
  background-color: #46cad7;
}
/*** Info Box ***/
.info-box {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fafafa;
}
.info-box h1,
.info-box .h1,
.info-box h2,
.info-box .h2,
.info-box h3,
.info-box .h3,
.info-box h4,
.info-box .h4,
.info-box h5,
.info-box .h5,
.info-box h6,
.info-box .h6 {
  margin-top: 0.2em;
}
.info-box input[type="email"],
.info-box input[type="text"] {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #282828;
  line-height: 1;
  padding: 0;
  width: 100%;
  border: 0;
  background-color: transparent;
  margin-top: 0.4em;
  font-weight: 500;
}
.info-box ::-webkit-input-placeholder {
  opacity: 1;
  color: #282828;
}
.info-box ::-moz-placeholder {
  opacity: 1;
  color: #282828;
}
.info-box ::-ms-input-placeholder {
  opacity: 1;
  color: #282828;
}
/*** Our Team ***/
.team [class*=col] {
  padding-left: 35px;
  padding-right: 35px;
}
.team [class*=col] h1,
.team [class*=col] .h1,
.team [class*=col] h2,
.team [class*=col] .h2,
.team [class*=col] h3,
.team [class*=col] .h3,
.team [class*=col] h4,
.team [class*=col] .h4,
.team [class*=col] h5,
.team [class*=col] .h5,
.team [class*=col] h6,
.team [class*=col] .h6 {
  margin-bottom: 5px;
}
.team [class*=col] .photo {
  padding-bottom: 15px;
}
.team [class*=col] .details {
  float: left;
}
.team [class*=col] .details span {
  color: #a6a6a6;
}
.team [class*=col] .social {
  float: right;
  margin-top: 10px;
  cursor: default;
}
.team [class*=col] .social a {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  line-height: 1;
}
.team [class*=col] .social a:last-child {
  margin-right: 0;
}
.team [class*=col] .social a:hover i.fa {
  color: #282828;
}
.team [class*=col] .social a i.fa {
  cursor: pointer;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.2);
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
}
/*** Animated Bars ***/
.no-canvas .circular-bars {
  display: none;
}
.circular-bars input {
  color: #282828 !important;
  font: 500 22px/1 "Roboto", sans-serif !important;
}
.circular-bars h1,
.circular-bars .h1,
.circular-bars h2,
.circular-bars .h2,
.circular-bars h3,
.circular-bars .h3,
.circular-bars h4,
.circular-bars .h4,
.circular-bars h5,
.circular-bars .h5,
.circular-bars h6,
.circular-bars .h6 {
  margin-top: 15px;
}
/*** Twitter Widget ***/
.twitter .twitter-feed ul {
  list-style: none;
  padding: 0;
}
.twitter .twitter-feed ul .tweet_time,
.twitter .twitter-feed ul .tweet_join,
.twitter .twitter-feed ul .tweet_text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 2;
  font-weight: 500;
}
.twitter .twitter-author {
  opacity: .6;
  color: #ffffff !important;
}
/*** Contact Information and Form ***/
.large-info {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  line-height: 1;
  padding: 24px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  display: inline-block;
  color: #ffffff !important;
  font-weight: 500;
}
.large-info i {
  padding-right: 10px;
}
.contact-icon {
  margin-top: 10px;
  font-size: 20px;
  line-height: 1;
}
.contact-info {
  opacity: .6;
  color: #ffffff !important;
}
.contact-info a {
  color: #ffffff !important;
}
.contact-form .field {
  margin-bottom: 30px;
}
.contact-form .field:last-child {
  margin-bottom: 40px;
}
.contact-form .field input,
.contact-form .field textarea {
  width: 98.24561403508773%;
}
.contact-form .field textarea {
  height: 210px;
}
/*** Google Maps ***/
.map {
  position: relative;
  overflow: hidden;
}
.map > i {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}
.map > i.shadow-top {
  top: -5px;
  height: 5px;
}
.map > i.shadow-bottom {
  bottom: -5px;
  height: 5px;
}
.map #google-map {
  height: 500px;
}
.map #map-info {
  display: none;
}
/*** Footer ***/
.footer .to-top {
  display: inline-block;
  border-radius: 3px;
  background-color: #282828;
  line-height: 1;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease;
  -moz-transition: background-color 0.15s ease;
  -o-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
}
.footer .to-top:hover {
  background-color: #424242;
}
.footer .to-top i.fa {
  cursor: inherit;
  color: #ffffff;
  font-size: 20px;
  margin-top: 4px;
}
.footer .social {
  cursor: default;
  line-height: 1;
  margin-top: 5px;
  text-align: right;
}
.footer .social a {
  padding: 5px;
}
.footer .social a i.fa {
  font-size: 16px;
  color: #282828;
}
.footer .social a:last-child {
  margin-right: 0;
}
/*** Accordion ***/
.panel-group .panel {
  margin-top: 10px;
}
.panel-group .panel:first-child {
  margin-top: 0;
}
.panel-group .panel-heading {
  background-color: #fafafa;
  border-radius: 3px;
  padding: 4px 20px;
}
.panel-group .panel-title a {
  color: #282828;
  text-decoration: none !important;
}
.panel-group .panel-body {
  padding: 10px 20px;
}
/*** Tabs ***/
.nav-tabs {
  border-bottom-color: #f1f1f1;
}
.nav-tabs > li > a {
  font-family: "Roboto", sans-serif !important;
  color: #282828;
  font-weight: 500;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-color: #f1f1f1 #f1f1f1 transparent;
  color: #46cad7 !important;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: transparent;
  border-color: transparent;
}
.tab-pane {
  padding: 10px 10px 0;
}
/*** Alert Messages ***/
.alert {
  border: 0 !important;
  padding: 14px 30px;
}
.alert p {
  color: #696f6f;
}
.alert.alert-success {
  background-color: #f6fff1;
}
.alert.alert-success h1,
.alert.alert-success .h1,
.alert.alert-success h2,
.alert.alert-success .h2,
.alert.alert-success h3,
.alert.alert-success .h3,
.alert.alert-success h4,
.alert.alert-success .h4,
.alert.alert-success h5,
.alert.alert-success .h5,
.alert.alert-success h6,
.alert.alert-success .h6 {
  color: #88d661;
}
.alert.alert-info {
  background-color: #f4f8fa;
}
.alert.alert-info h1,
.alert.alert-info .h1,
.alert.alert-info h2,
.alert.alert-info .h2,
.alert.alert-info h3,
.alert.alert-info .h3,
.alert.alert-info h4,
.alert.alert-info .h4,
.alert.alert-info h5,
.alert.alert-info .h5,
.alert.alert-info h6,
.alert.alert-info .h6 {
  color: #5bc0de;
}
.alert.alert-warning {
  background-color: #fcf8f2;
}
.alert.alert-warning h1,
.alert.alert-warning .h1,
.alert.alert-warning h2,
.alert.alert-warning .h2,
.alert.alert-warning h3,
.alert.alert-warning .h3,
.alert.alert-warning h4,
.alert.alert-warning .h4,
.alert.alert-warning h5,
.alert.alert-warning .h5,
.alert.alert-warning h6,
.alert.alert-warning .h6 {
  color: #f0ad4e;
}
.alert.alert-danger {
  background-color: #fdf7f7;
}
.alert.alert-danger h1,
.alert.alert-danger .h1,
.alert.alert-danger h2,
.alert.alert-danger .h2,
.alert.alert-danger h3,
.alert.alert-danger .h3,
.alert.alert-danger h4,
.alert.alert-danger .h4,
.alert.alert-danger h5,
.alert.alert-danger .h5,
.alert.alert-danger h6,
.alert.alert-danger .h6 {
  color: #d9534f;
}
/*** Progress Bars ***/
.bar {
  clear: both;
}
.progress {
  height: 7px;
  background-color: #fafafa;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.progress .progress-bar {
  width: 0;
  background-color: #46cad7;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.progress-heading {
  overflow: hidden;
  margin-bottom: 10px;
}
.progress-heading .progress-title {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 10px;
}
.progress-heading .progress-value {
  font-family: "Roboto", sans-serif;
  color: #282828;
  text-align: right;
  margin-top: -0.22em;
  padding-right: 10px;
  font-weight: 500;
}
/*** Blockquote ***/
blockquote {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-left: 3px solid #f1f1f1;
  padding: 15px 30px 18px;
}
blockquote footer {
  font-size: 14px;
}
blockquote footer:before {
  padding-right: 5px;
}
/*** Custom Lists ***/
.fa-ul.details {
  margin-left: 1.3em;
}
.fa-ul.details li {
  border-bottom: 1px solid #f1f1f1;
  padding-top: 6px;
  padding-bottom: 6px;
}
.fa-ul.details li:last-child {
  border-bottom: 0;
}
.fa-ul.details li strong {
  color: #282828;
  display: inline-block;
  margin-right: 6px;
}
.fa-ul.details li .fa-li {
  top: 0.95em;
}
.fa-li {
  top: .5em;
}
.fa-li.colored {
  color: #46cad7;
}
/*** Tables ***/
.table-bordered,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-color: #f1f1f1 !important;
}
/*** Images Slider ***/
.image-slider div {
  display: none;
}
.image-slider div.arrows {
  display: block;
}
.image-slider div:first-child {
  display: block;
}
.image-slider .arrows {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  bottom: 5px;
  right: 27px;
  z-index: 999;
}
.image-slider .arrows.large {
  left: 0;
  right: 0;
  bottom: auto;
  top: 50%;
  margin-top: -0.5em;
  margin-right: 0 !important;
}
.image-slider .arrows.large .arrow {
  position: absolute;
  display: block;
}
.image-slider .arrows.large .arrow i {
  opacity: .2;
  color: #282828 !important;
  font-size: 16px;
}
.image-slider .arrows.large .arrow:hover i {
  opacity: 1;
}
.image-slider .arrows.large .arrow.left {
  left: -40px;
}
.image-slider .arrows.large .arrow.right {
  right: -40px;
}
/*** Dropcaps ***/
.dropcap {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: #46cad7;
  line-height: 1;
  margin-right: 10px;
  float: left;
  font-weight: 500;
}
.dropcap.alt {
  background-color: #46cad7;
  color: #ffffff;
  border-radius: 3px;
  padding: 1px 8px 4px;
}
/*** Tagline Boxes ***/
.promotion-box {
  padding: 14px 30px;
  background-color: #fafafa;
  border-left: 3px solid #46cad7;
  margin-bottom: 20px;
}
.promotion-box.line-top {
  border-top: 3px solid #46cad7;
  border-left: none;
}
.promotion-box.line-grey {
  border-color: #f1f1f1;
}
/*** Highlights ***/
.highlight,
.highlight-dark {
  display: inline-block;
  color: #ffffff;
  background-color: #46cad7;
  padding: 0 7px;
  border-radius: 3px;
}
.highlight-dark {
  background-color: #282828;
}
/*** Pricing Tables ***/
.pricing-tables .plan {
  text-align: center;
  border: 3px solid #f1f1f1;
  border-radius: 3px;
  padding: 0 15px 22px;
  margin: 0 15px 20px;
}
.pricing-tables .plan header {
  margin-top: 30px;
  margin-bottom: 25px;
}
.pricing-tables .plan ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pricing-tables .plan ul li {
  border-bottom: 1px solid #f1f1f1;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.pricing-tables .plan ul li:first-child {
  border-top: 1px solid #f1f1f1;
}
.pricing-tables .plan .btn {
  margin-top: 5px;
}
.pricing-tables .plan .btn:first-of-type {
  margin-top: 20px;
}
.pricing-tables [class*="col"]:last-child .plan {
  margin-bottom: 0;
}
/*** Stickers ***/
.sticker {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #ffffff;
  background-color: #282828;
  border-radius: 3px;
  line-height: 1.8;
  padding: 0 7px;
  vertical-align: middle;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  margin: 0 3px 0 5px;
  cursor: default;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.sticker:hover {
  background-color: #424242;
}
.sticker.green {
  background-color: #88d661;
}
.sticker.green:hover {
  background-color: #a6e189;
}
.sticker.blue {
  background-color: #5bc0de;
}
.sticker.blue:hover {
  background-color: #85d0e7;
}
.sticker.orange {
  background-color: #f0ad4e;
}
.sticker.orange:hover {
  background-color: #f4c37d;
}
.sticker.red {
  background-color: #d9534f;
}
.sticker.red:hover {
  background-color: #e27c79;
}
.sticker.default {
  background-color: #46cad7;
}
.sticker.default:hover {
  background-color: #70d6e0;
}
.sticker-icon {
  position: relative;
}
.sticker-icon .sticker {
  position: absolute;
  top: -2px;
  right: -2px;
  margin: 0;
}
h1 .sticker,
.h1 .sticker,
h2 .sticker,
.h2 .sticker,
h3 .sticker,
.h3 .sticker {
  margin-top: -3px;
}
h4 .sticker,
.h4 .sticker,
h5 .sticker,
.h5 .sticker,
h6 .sticker,
.h6 .sticker {
  margin-top: -1px;
}
/*** Font-Awesome Icons and Stickers Demo ***/
.icons-demo,
.stickers-demo {
  cursor: default;
}
.icons-demo.colored i.fa,
.stickers-demo.colored i.fa {
  color: #46cad7;
}
.icons-demo i.fa,
.stickers-demo i.fa {
  font-size: 20px;
  width: 30px;
  padding-bottom: 15px;
  cursor: default;
  text-align: center;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.icons-demo i.fa:hover,
.stickers-demo i.fa:hover {
  opacity: 0.7;
}
.stickers-demo i.fa {
  font-size: 46px;
  width: 70px;
}
/*** Blog Posts ***/
.blog-post header h1 a,
.blog-post header .h1 a,
.blog-post header h2 a,
.blog-post header .h2 a,
.blog-post header h3 a,
.blog-post header .h3 a,
.blog-post header h4 a,
.blog-post header .h4 a,
.blog-post header h5 a,
.blog-post header .h5 a,
.blog-post header h6 a,
.blog-post header .h6 a {
  color: inherit;
  text-decoration: none !important;
}
.blog-post header .info {
  margin-top: 10px;
  color: #a6a6a6;
}
.blog-post header .info span::after {
  content: '•';
  display: inline-block;
  padding: 0 4px 0 7px;
}
.blog-post header .info span:last-child::after {
  content: '';
}
.blog-post header + p {
  margin-top: 20px;
}
.blog-post header + img,
.blog-post header + img + p,
.blog-post header + .video-responsive,
.blog-post header + .video-responsive + p,
.blog-post header + .image-slider,
.blog-post header + .image-slider + p {
  margin-top: 30px;
}
.blog-post .image-slider div {
  padding: 0 !important;
}
.blog-post .image-slider .arrows {
  right: 12px;
}
.blog-post .btn {
  margin-top: 20px;
  padding: 16px 28px;
}
/*** Masonry Blog ***/
.blog-masonry.blog-masonry-four header h3 {
  font-size: 18px;
}
.blog-masonry .blog-post.masonry {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ffffff;
}
.blog-masonry .btn {
  padding: 14px 24px;
}
/*** Sidebars ***/
.sidebar {
  padding-left: 20px;
  margin-top: 40px;
  /*** Navigations ***/
  /*** Subscribe for Newsletter ***/
  /*** Tag Cloud ***/
}
.sidebar header {
  margin-bottom: 30px;
}
.sidebar ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul.menu li {
  border-bottom: 1px solid #f1f1f1;
  padding: 8px 10px;
}
.sidebar ul.menu li:first-child {
  border-top: 1px solid #f1f1f1;
}
.sidebar ul.menu li a {
  color: inherit;
  text-decoration: none !important;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
}
.sidebar ul.menu li a:hover,
.sidebar ul.menu li a:focus {
  color: #46cad7;
}
.sidebar ul.links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul.links li {
  padding: 4px 0;
}
.sidebar ul.links li a {
  color: inherit;
  text-decoration: none !important;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
}
.sidebar ul.links li a:hover,
.sidebar ul.links li a:focus {
  color: #46cad7;
}
.sidebar .newsletter-form input[type="email"],
.sidebar .newsletter-form input[type="text"] {
  padding: 12px 16px;
  margin-top: 10px;
  margin-right: 8px;
  width: 220px;
  margin-bottom: 15px;
}
.sidebar .newsletter-form .btn {
  padding: 14px 22px 13px;
  margin-top: -2px;
  display: inline-block;
}
.sidebar .tags {
  overflow: hidden;
}
.sidebar .tags .tag {
  display: block;
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 3px;
  padding: 2px 10px;
  font-size: 13px;
  background-color: #46cad7;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.sidebar .tags .tag:hover,
.sidebar .tags .tag:focus {
  background-color: #63d2dd;
}
/*** Pagination ***/
.pages-navigation a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #282828;
  border: none;
  border-radius: 0;
  background-color: transparent !important;
  padding: 0;
  opacity: 1;
  text-decoration: none !important;
  font-weight: 500;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
}
.pages-navigation a:hover,
.pages-navigation a:focus {
  color: #46cad7;
}
/*** Leave a Comment ***/
.comment-form .field {
  margin-bottom: 20px;
}
.comment-form .field input {
  width: 99.4%;
}
.comment-form .field textarea {
  height: 130px;
  width: 100%;
}
/*** Comments ***/
.user-comment {
  margin-bottom: 50px;
}
.user-comment:last-child {
  margin-bottom: 0;
}
.user-comment .image {
  float: left;
  width: 80px;
  margin-right: 30px;
  margin-top: 5px;
}
.user-comment .details {
  margin-left: 110px;
}
.user-comment .details .info {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}
.user-comment .details .info .author {
  display: inline-block;
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #46cad7;
  font-weight: 500;
}
.user-comment .details .info .date {
  display: inline-block;
  float: right;
  color: #a6a6a6;
}
.user-comment .details .reply a {
  color: #a6a6a6;
  text-decoration: none !important;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
}
.user-comment .details .reply a:hover,
.user-comment .details .reply a:focus {
  color: #46cad7;
}
.user-comment .user-comment {
  margin-top: 50px;
  margin-left: 5%;
}
/*** Error Page ***/
#error-page {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
/*** Share Panel ***/
.share-panel {
  margin-top: 20px;
  line-height: 1;
}
.share-panel span {
  display: inline-block;
  margin-right: 25px;
  color: #282828;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.share-panel .social {
  display: inline-block;
  cursor: default;
}
.share-panel a {
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
}
.share-panel a:last-of-type {
  margin-right: 0;
}
.share-panel a:hover i.fa {
  color: #282828;
}
.share-panel i.fa {
  cursor: pointer;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.2);
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
}
/*** Milestone Counters ***/
.milestone {
  background-color: #fafafa;
  border-radius: 3px;
  text-align: center;
  color: #282828;
  font-family: "Roboto", sans-serif;
  padding: 20px 5px;
}
.milestone .counter {
  font-size: 52px;
  line-height: 1;
  font-weight: 500;
}
.milestone .description {
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 5px;
  color: #696f6f;
}
/*** How it looks (iMacs Preview) ***/
.imacs {
  position: relative;
}
.imacs .item.center {
  margin-top: 35px;
}
.imacs .item.center img {
  position: relative;
}
.imacs .item.left {
  left: 90px;
  opacity: 1;
}
.imacs .item.right {
  right: 90px;
}
.imacs .item.right.complete {
  right: 90px;
  opacity: 1;
}
.imacs .item.left,
.imacs .item.right {
  position: absolute;
  top: -35px;
  opacity: 1;
}
.csstransitions .imacs .item.left,
.csstransitions .imacs .item.right {
  opacity: 0;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.csstransitions .imacs .item.left {
  left: 0;
}
.csstransitions .imacs .item.left.complete {
  left: 90px;
  opacity: 1;
}
.csstransitions .imacs .item.right {
  right: 0;
}
.csstransitions .imacs .item.right.complete {
  right: 90px;
  opacity: 1;
}
.carousel-control.left, .carousel-control.right {background-image:  none;}